<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <%= error %>
  <% end %>
<% end %>
<div class="edit">
<%= form_for @debt do |f| %>
  <%= f.label "Title: ", class: "ui header" %>
  <div class="ui input">
    <%= f.text_field :title %>
  </div>
  <%= f.label "categories", class: "ui header" %>
  <div class="ui input">
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <%= f.label "Amount: ", class: "ui header" %>
  <div class="ui right labeled input">
    <label for="amount" class="ui label">$</label>
  <%= f.number_field :amount, class:"ui basic label"%>
    <div class="ui basic label">.00</div>
  </div>
  <%= f.label "Story: ", class: "ui header" %>
  <div class="ui input">
  <%= f.text_field :story %>
  </div>
  <%= f.label "Due Date: ", class: "ui header" %>
  <div class="ui input">
  <%= f.date_field :due_date %>
  </div>
  <%= f.label "Payback? :", class: "ui header" %>
  <div class="ui input">
  <%= f.check_box :payback %>
  </div>
  <%= f.submit(class: "ui primary button") %>
<% end %>
</div>
