
<label> Debtee: </label>
   <%= @debt.user.name %>   <br>
<label> Debt Category: </label>
    <%= @debt.category.name %> <br>
<label> Debt Amount: </label>
    <%= @debt.amount %> <br>
<label> Debt story: </label>
    <%= @debt.story %> <br>
<label> Debt Due Date: </label>
    <%= @debt.due_date %> <br>
<label> Is this debtee able to pay? : </label>
    <%if @debt.payback %>
    <%= "YES" %>
    <% else %>
    <%= "NO" %>
    <% end %>


<%= button_to "Donate", new_payment_path, method: :get, params: { debt_id: @debt.id } %>
<%= button_to "Delete", @debt, method: :delete %>
