
<label> Debtee: </label>
   <%= @debt.user.name %>   <br>
<label> Debt Category: </label>
    <%= @debt.category.name %> <br>
<label> Debt Amount: </label>
    <%= "$ #{@debt.amount}" %> <br>
<label> Debt story: </label>
    <%= @debt.story %> <br>
<label> Debt Due Date: </label>
    <%= @debt.due_date.strftime("%B-%d-%Y") %> <br>
<label> Is this debtee able to pay? : </label>
    <%if @debt.payback %>
    <%= "YES" %>
    <% else %>
    <%= "NO" %>
    <% end %>


<h3>Donations made on this debt: </h3>
<ol>
  <% @debt.payments.each do |payment| %>
  <li><%= "#{payment.user.name} - $#{payment.payment_amount}" %></li>
  <p><%= payment.comment %></p>
  <% end %>
</ol>


<% if current_user.id == @debt.user.id %>
<%= button_to "Delete", @debt, method: :delete %>
<% else %>
<%= button_to "Donate", new_payment_path, method: :get, params: { debt_id: @debt.id } %>
<% end %>
