<h1><%= @user.username %> Info: </h1>

<h3>Name: </h3>
 <p><%= @user.name %></p><br>
<h3>Email: </h3>
 <p><%= @user.email %></p><br>
<h3>age: </h3>
 <p><%= @user.age %></p><br>

 <h3><%= @user.name %>'s Debts</h3>
 <ul>
   <% @user.debts.each do |debt| %>
     <li><%= link_to(debt.title, debt_path(debt))%> - <%=debt.amount%></li>
   <% end %>
 </ul><br>
 <!--Some method that returns total --><h3>Debt Total: </h3><%= @user.total %>
<% if current_user.id == @user.id %>
  <%= button_to("Delete Account", user_path(@user), :method => :delete, :data => {confirm: "Are you sure you want to delete your account?"}) %>
  <%= button_to("Edit Account", edit_user_path(@user), :method => :get) %>
  <% if logged_in? %>
  <%= button_to "Logout", sessions_path, method: :delete %>
  <% end %>
<% end %>

<br>

<h3>Reimbursements</h3>

<ol>
<% @user.all_reimbursements.each do |reimbursement| %>
<li><%= reimbursement.debt.title %></li>
<ul>
  <li><%= reimbursement.user.name %></li>
  <li><%= reimbursement.payment_amount %></li>

</ul>
<% end %>
</ol>
