<head>
  <title>Lendr - New Payment</title>
</head>

<h1 id = "payments">New Payment:</h1>

  <div class="ui placeholder segment" id = "payments">
    <% if flash[:errors] %>
      <p><%= flash[:errors] %></p>
    <% end %>

    <%= form_for(@payment) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :debt_id, value: @debt.id %>
      <h3><%= f.label :payment_amount, "Payment Amount" %></h3> <br>
      <%= f.number_field :payment_amount %> <br>
      <h3><%= f.label :comment %></h3> <br>
      <%= f.text_area :comment %> <br>
      <%= f.submit %>
    <% end %>
  </div>
