<h1>New Payment:</h1>

<% if flash[:errors] %>
  <p><%= flash[:errors] %></p>
<% end %>

<%= form_for(@payment) do |f| %>
  <%= f.label :payment_amount, "Payment Amount" %>
  <%= f.number_field :payment_amount %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>
  <%= f.submit %>
<% end %>
