<h1>All <%=@category.name%>: </h1>

<ul>
<% @category.debts.each do |debt|%>
<h3><%= debt.user.name %></h3>
  <li><%= link_to(debt.title, debt_path(debt)) %></li>
  <h4><%= debt.amount %></h4>
<%= button_to "Donate", new_payment_path, method: :get, params: { debt_id: debt.id } %>
<% end %>
</ul>
