<!DOCTYPE html>
<html>
  <head>
    <title>Lendr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <header>
      <ul>
        <li><%=link_to("Home", user_path(current_user))%></li>
        <li><%= link_to("Debts", debts_path) %></li>
        <li><%= link_to("Categories", categories_path) %></li>
        <li><%= link_to("All Users", users_path) %></li>
        <li><%= link_to("Log Out", sessions_path, method: :delete) %></li>
      </ul>
    <%end %>
    </header>
    <%= yield %>
  </body>
</html>
